body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

h1 {
    margin: 0;
}

a {
    color: #007bff;
    text-decoration: none;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
}

#bio {
    text-align: center;
    margin: 3em;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.profile {
    text-align: center;
    width: 250px; /* Tamaño fijo del cuadro de biografía */
}

.profile img {
    width: 240px; 
    height: 300px; /* Altura fija para la imagen */
    object-fit: cover; /* Cubrir completamente el contenedor manteniendo la relación de aspecto original */
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile p {
    margin: 0.5em 0;
    text-align: justify; /* Ajuste para justificar el texto */
    line-height: 1.5;
}

.profile p.name {
    text-align: center; /* Centrar solo el nombre */
}

#text1, #text2, #text3 {
    text-align: center;
    margin: 2em;
    overflow: hidden;
}

#text2 img {
    width: 150px; /* Ancho fijo para la imagen en la sección 2 */
    height: 150px; /* Altura fija para la imagen en la sección 2 */
    object-fit: cover;
    border-radius: 10px;
}

h2 {
    background-color: #333;
    color: #fff;
    padding: 0.5em;
}